<!-- Banner -->
<section id="banner">
		<header>
			<h2>A place to organize and discover Hackathons</h2>
			<p><strong class="inverse">Hackathomic is a platform for registering and organizing your own hackathon, either online or F2F, as well as finding other hackathons that may be of your interest.</strong>
</p>
		</header>
</section>

	<!-- Intro -->
		<section id="intro" class="container">
			
		</section>

	</div>
</div>

<!-- Main -->
<div id="main-wrapper">
	<div class="container">
		<div class="row">
			<div class="12u">
				<ul class="actions">
					<li><a href="<%= new_hackathon_url %>" class="button big">Create new Hackathon</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="12u">

				

			</div>
		</div>
	</div>
</div>