<!-- Banner -->
<section id="banner">
		<header>
			<h2>Hello World!</h2>
			<p>Something Happen here :-)</p>
		</header>
</section>

	<!-- Intro -->
		<section id="intro" class="container">
			
		</section>

	</div>
</div>

<!-- Main -->
<div id="main-wrapper">
	<div class="container">
		<div class="row">
			<div class="12u">

				

			</div>
		</div>
		<div class="row">
			<div class="12u">

				

			</div>
		</div>
	</div>
</div>