<!-- Intro -->
<section id="intro" class="container">
	<div class="row">
		<div class="4u 12u(mobile)">
			<section class="first">
				<i class="icon featured fa-cog"></i>
				<header>
					<h2>Go beyond</h2>
				</header>
				<p>Hackathons can be used to workshop on innovation, even if you are naive in the area</p>
			</section>
		</div>
		<div class="4u 12u(mobile)">
			<section class="middle">
				<i class="icon featured alt fa-flash"></i>
				<header>
					<h2>MVP</h2>
				</header>
				<p>Be fast to release your own MVP with your Team</p>
			</section>
		</div>
		<div class="4u 12u(mobile)">
			<section class="last">
				<i class="icon featured alt2 fa-star"></i>
				<header>
					<h2>New Talents</h2>
				</header>
				<p>Maybe your future employee/partner is a Hackathomic!</p>
			</section>
		</div>
	</div>
</section>

</div>
</div>
