/*
 * General styles
 */

a {
  text-decoration: none;
}

strong.inverse {
  font-weight: bold;
  color: rgb(133, 132, 132);
}

form label {
  text-align: left;
  font-weight: bold;
  font-size: 1.2em;
  
}

#footer-wrapper {
  background: black;
}

.main-link {
  img {
    width: 0.8em;
    height: 0.8em;
  }
  small {
    font-size: 0.6em;
    display: block;
    color: #999;
  }
  &:hover {
    background: transparent;
    color: black;
  }
}
